* {
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
   
.calculator {
    max-width: 300px;
    min-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;
    border-radius: 24px;
    background-color: #0070Ad;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(43, 10, 61, 0.5)
}
input[type="text"] {
    width: 100%;
    padding: 14px 12px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #2b0a3d;
    font-size: 24px;
    color: white;
}
input[type="button"] {
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.2);
    flex-grow: 1;
    font-size: 18px;
}
input[type="button"]:active {
    -webkit-box-shadow: inset 0px -50px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px -50px 0px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px -50px 0px 0px rgba(0,0,0,0.2);
}
input[type="button"]#calculate {
    background-color: #f53b53;
    color: white;
}
input[type="button"]#delete, input[type="button"]#clear {
    background-color: #12abdb;
    color: white;
}
#message {
    display: none;
    border-radius: 8px;
    margin-top: 12px;
    padding: 6px 20px 6px 8px;
    color: #471901;
    border: 1px solid #ffc11e;
    background-color: #fff4c5;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    position: relative;
}
#message.active {
    display: block;
}
#close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    background-color: #e67a00;
    line-height: 0.7;
    font-size: 12px;
    padding: 3px;
    border-radius: 4px;
}